*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAVBAR*/

.container-nav{
    padding: 0;
    height: 4em;
    background: #2a0b22;

}

.navbar-nav{
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.enlace-nav{
    color: beige;
}

#logo-nav{
    height: 45px;
    width: auto;
    padding: 1px 16px;
}






/*BODY*/
.hero-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2A0B22;
    background: radial-gradient(circle,rgba(42, 11, 34, 1) 19%, rgba(255, 255, 255, 1) 86%);
    padding: 2em;
    
}

h1{
    color: beige
}

/*ESTILO TARJETAS TAREAS */
/*contenedor titulo*/
.head-litado-tareas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4vh;
    margin-bottom: 13vh;
}


/*Contenedor card*/
.contenedor-lista{
    padding: 13px;
}

.card-design{
    border: black 2px solid;
    border-radius: 30px;;    
}

.contenedor-img-texto{
    display: flex;
    align-items: center;
}

.contenedor-texto-card{
    text-align: left;
    padding-bottom: 4px;


}

/*Font style*/
.parrafo-card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
}

.parrafo-card-texto, .parrafo-card-fecha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 13px;
}

.parrafo-card-estado{
    display: inline-block;
    padding: 1px 10px 1px;
    background: red;
    border-radius: 6px;;

}

/*Contenedor botones lista de tareas */
.contenedor-padre-btn-lista, #btn-contenedor-lista {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

