*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAVBAR*/

.container-nav{
    padding-right:20px;
    min-height: 4em;
background: #12000e;
}

.nav-enlace{
    color: rgb(189, 126, 182);
}

.navbar-nav {
--bs-nav-link-color: bisque; 
--bs-nav-link-hover-color: bisque;
}

#boton-responsive-navbar{
    border-color:bisque;
}

#icono-responsive-navbar{
    filter: brightness(1) invert(10); 
    height: 40px; 
}

#logo-nav{
    height: 45px;
    width: auto;
    padding: 1px 16px;
    border-radius: 300px;
}


/*BODY*/
    /*Hero*/

.hero-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    background: linear-gradient(rgba(0, 0, 0,0.1), rgba(0, 0, 0, 0.1)), url('../img/fondo2.png');      
    padding: 1rem;; 
}

h1{
    color: bisque;
}

.img-hero{
    border-radius: 800px;
}
 

    /*Estructura Principal collapse*/
.div-columnas-collapse{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

    /*Tareas priorizadas*/
#priorizadas-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-desplegable-priorizadas{
    min-width: none;
    text-align: left;
    padding: 0px;
}

.boton-collapse, .btn-form{
    background-image: url(../img/fondo2.png);
    background-position:51% 0%;
    border: 2px solid rgb(189, 126, 182);
    width: 160px;
    color: beige;
}

.boton-collapse:hover, .btn-form:hover{
    border: 2px solid rgb(2, 9, 73);
}

.item-priorizada{
    gap: 30px;
}

.div-btn-priorizada{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.btn-priorizadas-list{
    font-size: 0.7rem;
    color: purple;
    padding: 0.25rem 0.5rem; 
}

    /*Formulario*/
#inputTitle, #inputPriorizar, #inputCategoria, #inputFecha, #inputDescription{
    border: 1px purple solid;
}

.form-control:focus, .form-check-input:focus, .form-select:focus{
    box-shadow: 0 0 0 .25rem  rgba(46, 3, 75, 0.25);
}

.form-check-input:checked {
    background-color: purple;
    
}

    /*Clases validacion formulario*/
.errorClass{
    box-shadow: 0 0 0 .20rem  rgba(255, 0, 0, 0.269);
}

.okClass{
    box-shadow: 0 0 0 .20rem  rgba(0, 128, 0, 0.269);
}






/*ESTILO TARJETAS TAREAS */
    /*Contenedor general lista de tareas */
.contenedor-seccion-lista{
    width: 100%;
    height: auto;
}

    /*contenedor titulo*/
.head-litado-tareas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4vh;
    margin-bottom: 13vh;
}



/*Contenedor de la lista de tareas */


    /*Contenedor card setting general*/
.contenedor-lista{
    padding: 13px;
}

.card-design{
    border-radius: 30px;
    margin-bottom: 12px;  
}

.contenedor-img-texto{
    display: flex;
    align-items: center;
}

.contenedor-texto-card{
    text-align: left;
    padding-bottom: 4px;
}


    /*Font style*/
.parrafo-card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
}

.parrafo-card-texto, .parrafo-card-fecha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 13px;
}


    /*Contenedor botones lista de tareas */
.contenedor-padre-btn-lista, #btn-contenedor-lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    gap: 3px;
}

.btn-card-lista{
    width: 52px;
}

/* Clases completado/pendiente tarjetas */
        /* Completada*/

.pendiente-task{
    .card-design{
        border: black 2px solid;
    }

    .estado-task{
        font-size: 13px;
        font-weight: 400;
        display: inline-block;
        padding: 1px 10px 1px;
        background: red;
        border-radius: 6px;
    }

}        

.done-task{
    .card-design{
        border: gray 2px solid;
        background-color: rgba(189, 126, 182, 0.144); 
    }

    .estado-task{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    padding: 1px 10px 1px;
    background: purple;
    border-radius: 6px;;
    }

    .parrafo-card-title, .parrafo-card-texto, .parrafo-card-fecha{
        color: #12000e87;
    }

    .fa-calendar-check, .fa-trash{
        color: #12000e;
    }

    .btn-card-lista-done, .btn-card-lista-pendiente{
         border:#12000e solid 1px;  
    }

    .btn-card-lista-done:hover, .btn-card-lista-pendiente:hover{
        background-color: #12000e;

        .fa-calendar-check, .fa-trash {
            color: #f3f1f3;  
        }
    }
    

}


