:root{
    --puple-main : #12000e;
    --puple-soft : rgb(189, 126, 182);
    --hueso-white: rgb(245, 245, 241);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NAVBAR*/

.container-nav{
    padding-right:20px;
    min-height: 4em;
    background: var(--puple-main);
}

.nav-enlace{
    color: var(--puple-soft);
}

.navbar-nav {
--bs-nav-link-color: beige; 
--bs-nav-link-hover-color: beige;
}

#boton-responsive-navbar{
    border-color:beige;
}

#icono-responsive-navbar{
    filter: brightness(1) invert(10); 
    height: 40px; 
}

#logo-nav{
    height: 45px;
    width: auto;
    padding: 1px 16px;
    border-radius: 300px;
}


/*BODY*/

body{
    background: url(../img/fondo_body.png);
}
    /*Hero*/

.hero-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    background: linear-gradient(rgba(0, 0, 0,0.1), rgba(0, 0, 0, 0.1)), url('../img/fondo2.png');      
    padding: 1rem;; 
    border-bottom: 0.1px dotted beige;
}

h1{
    color: beige;
}

.img-hero{
    border-radius: 800px;
}
 

    /*Estructura Principal collapse*/
.div-columnas-collapse{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

    /*Tareas priorizadas*/
#priorizadas-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-desplegable, .div-collapse-form{
    border: solid 1px beige;
    background-color: var(--puple-main);
    border-radius:6px;
}

.contenedor-desplegable-priorizadas, .div-form{
    margin: 6px;
    border: solid 2px --puple-soft;
    border-radius:6px;
}

.lista-priorizadas{
    border: solid 2px --puple-soft;
    border-radius:6px;
}

.btn-primary, .btn-form{
    background: var(--hueso-white);
    background-position:51% 0%;
    border: 2px solid --puple-soft;
    width: 160px;
    color: purple;
    font-weight: 500;
}

.btn-primary:hover, .btn-form:hover, #btn-submit{
    background: #BD7EB6;
    background: linear-gradient(83deg,rgba(189, 126, 182, 1) 19%, rgba(85, 97, 207, 1) 84%);
    border: 1px solid --puple-soft;
    color:var(--hueso-white);
}

#btn-submit:hover{
    background: linear-gradient(83deg, rgba(85, 97, 207, 1) 19%, rgba(189, 126, 182, 1)84%);
    cursor: pointer;
}

.item-priorizada{
    gap: 30px;
}

.div-btn-priorizada{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.btn-priorizadas-list{
    font-size: 0.7rem;
    color: purple;
    padding: 0.25rem 0.5rem; 
}

    /*Formulario*/
#inputTitle, #inputPriorizar, #inputCategoria, #inputFecha, #inputDescription{
    border: 1px purple solid;
}

.form-control:focus, .form-check-input:focus, .form-select:focus{
    box-shadow: 0 0 0 .25rem  rgba(46, 3, 75, 0.25);
}

.form-check-input:checked {
    background-color: purple;
    
}

    /*Clases validacion formulario*/
.errorClass{
    box-shadow: 0 0 0 .20rem  rgba(255, 0, 0, 0.269);
}

.okClass{
    box-shadow: 0 0 0 .20rem  rgba(0, 128, 0, 0.269);
}


/*ESTILO TARJETAS TAREAS */
    /*Contenedor general lista de tareas */
.contenedor-seccion-lista{
    width: 100%;
    height: auto;
}

    /*contenedor titulo*/
.head-litado-tareas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4vh;
    margin-bottom: 13vh;
}



/*Contenedor de la lista de tareas */

    /*Contenedor card setting general*/

.tareasList-div{
    background: transparent;
}

/*CARDS*/
.contenedor-lista{
    padding: 40px 90px;
}

.card-design{
    border-radius: 30px;
    margin-bottom: 12px; 
}

.contenedor-img-texto{
    display: flex;
    align-items: center;

    i{
        font-size: 50px;
        color: black;
    }
}

.div-image{
    justify-content: center;
    align-items: center;
}

.contenedor-texto-card{
    text-align: left;
    padding-bottom: 4px;
}


    /*Font style*/
.parrafo-card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 16px;
}

.parrafo-card-texto, .parrafo-card-fecha{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 13px;
}


    /*Contenedor botones lista de tareas */
.contenedor-padre-btn-lista, .btn-contenedor-lista {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
    gap: 3px;
}

.btn-card-lista{
    width: 52px;
}

/* CLASES TARJETAS*/
    
    /* Pendiente*/
.pendiente-task{

    .card-design{
        border: --puple-soft 2px solid;
        box-shadow: rgb(238, 182, 231) 0px 0px 9px 1px;
        background-color:rgb(237, 221, 235); 
    }

    .contenedor-img-texto i{
        color:#460337;
    }

    .estado-task{
        font-size: 13px;
        font-weight: 400;
        display: inline-block;
        padding: 1px 10px 1px;
        background: red;
        border-radius: 6px;

        small{
          color:beige !important;  
        }
    } 

        /* Botones */

    .btn-card-lista-done, .btn-card-lista-eliminar{
         border:#460337 solid 1px;  
    }

    .btn-card-lista-pendiente{
        display: none;
    }
    .btn-card-lista-done:hover, .btn-card-lista-eliminar:hover{
        background-color: #460337;

        .fa-calendar-check, .fa-trash {
            color: beige;  
            pointer-events: none;
        }
    }

}  



    /* Completada */
.done-task{
    .tarjeta-div-card{
        background: white;
    }

    .card-design{
        border: gray 2px solid;
        background-color: rgba(241, 235, 235, 0.952);  
    }

    .estado-task{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    padding: 1px 10px 1px;
    background: #460337;
    border-radius: 6px;

    small{
          color: beige !important;  
        }
    }

        /* Logo card */
    .contenedor-img-texto i{
        color:#4603389b;
    }

        /* Texto */
    .parrafo-card-title, .parrafo-card-texto, .parrafo-card-fecha{
        color: #12000e87;
    }

        /* Botones */
    .btn-card-lista-eliminar{
        display: block;
    } 
    
    .btn-card-lista-done{
        display: none;
    }

    .fa-calendar-check, .fa-trash, .fa-trash-can-arrow-up{
        color: var(--puple-main);
        pointer-events: none;
    }

    .btn-card-lista-eliminar, .btn-card-lista-pendiente{
         border:#460337 solid 1px;  
    }

    .btn-card-lista-eliminar:hover, .btn-card-lista-pendiente:hover{
        background-color: #460337;

        .fa-calendar-check, .fa-trash, .fa-trash-can-arrow-up {
            color: beige;  
        }
    }
}
/* FOOTER */
.container-foot{
    min-height: 4em;
    background: var(--puple-main);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    /*Seccion 1: Redes */
.div-icon{
   display: flex;
   justify-content: center;
   align-items:center;
}

.fa-brands, .fa-envelope, .div-myInfo p {
    font-size: 15px;
}

.div-icon a, .div-techStack i{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin:15px;
    min-height: 35px;
    min-width: 35px;
    text-align: center;   
    color: var(--puple-soft);
    border-radius: 50px;
    background-color: beige;
    text-decoration: none;
}

.div-icon a:hover, .div-techStack i:hover{
    color:var(--puple-main);
    transform: scale(1.3); 
    border: 2px --puple-main solid;
    box-shadow: 0px 0px 9px 1px --puple-soft;
}

    /*Seccion 2: Propietario */
.div-myInfo, .div-techStack{
    color:var(--puple-soft);
}

    /*Seccion 3: Stack tecnolocico */
.div-techStack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}




/* RESPONSIVE */

@media (max-width: 768px){

/* CONTENEDOR 1 [Tareas priorizadas y Form]*/
    .hero-plan{
        border-bottom: none
    }
    
    .contenedor-desplegable-priorizadas{
        margin: 4px;
        padding: 1px;
        border: none;
        border-radius:6px;
    }

    .lista-priorizadas{
        border: none;
    }


/* CONTENEDOR 2 [Tarjetas] */
    .contenedor-lista{
        padding: 30px 0px;
    }

    .card-design{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-img-texto{
        padding: 5px 5px 0px; 
    }

    .btn-contenedor-lista{
        padding:0px;
        gap: 15px;
    }

    /* Footer */
    .container-foot{
         flex-direction: column;
    }


}    

